<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
  </style>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
  <!--<script src="../app/assets/javascripts/test.js"></script>-->
  <%= javascript_include_tag('new.js') %>
</head>
<div class="header">
  <a href="/">← Back</a>
</div>
<h2 id="sign-up-button">Sign up</h2>

<div id="lightbox">
    <img id="logo" src="/images/ARC_Logo_Classic_Horiz_RGB.png">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class = "name field"> 
        <%= f.label :name %> 
        <%= f.text_field :name, autofocus: true %> 
        <img class="login-symbol" src="/images/name.png">
      </div>
    
      <div class = "major field"> 
        <%= f.label :major %>  
        <%= f.text_field :major, autofocus: true %> 
        <img class="login-symbol" src="/images/major.png">
      </div>
      
      <div class="email field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        <img class="login-symbol" src="/images/email.png">
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <!--<% if @minimum_password_length %>-->
        <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
        <!--<% end %>-->
        <%= f.password_field :password, autocomplete: "off" %>
        <img class="login-symbol" src="/images/password.png">
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %>
    
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div> 
    
      <div class="actions">
        <div class = "other">
        <%= render "devise/shared/links" %>
        </div>
        <%= f.submit "Sign up", :class => "submit"%>
      </div>
    <% end %>
</div>

<div id="blood-img">
  <img id="blood-guy" src="/images/bloodman.png">
</div>

