<div class="menu-header">
    <div class="logo">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="menu">
        <li><%= link_to "Gallery", root_path, :class => 'home_link' %></li>
        <li><%= link_to "Members", members_path, :class => 'home_link' %></li>
        <% if current_user %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'home_link' %></li>
            <li><%= link_to (image_tag(current_user.avatar.url(:thumb), class: 'round-image-50')), profile_index_path %></li>
        <% else %>
<!--             <li class="round-image-50"><%= image_tag("/images/thumb/missing_ava.png") %></li> -->
            <!--<li><%= link_to 'Login', new_user_session_path, :method => :get, :class => 'home_link', :id => 'login_bttn' %></li>-->
            <li class="home_link" id="login_bttn">Login</li>
        <% end %>
        <li class="home_link calendar-page" id="signup_bttn">Sign Up</li>
    </div>
</div>

<div id="home-lightbox-container">
        <div class="screen"></div>
        <div id="login-lightbox">
            <img id="lightbox-logo" src="/images/ARC_Logo_Classic_Horiz_RGB.png">
            <%= form_for(:user, :url => session_path(:user), :html => {id: 'login-form'}) do |f| %>
                <div class="field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true %>
                    <img class="login-symbol" src="/images/email.png">
                </div>
                <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "off" %>
                    <img class="login-symbol" src="/images/password.png">
                </div>
                <% if devise_mapping.rememberable? -%>
                    <div class="field" id="remember-me-home">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me, :id => "remember-me-label" %>
                    </div>
                <% end -%>
                <%= link_to "Forgot your password?", new_password_path(:user), :class => "forgot" %>
                <div class="actions">
                    <a id="signup-bttn">Sign Up</a>
                    <%= f.submit "Log in", :class => "submit" %>
                </div>
                
            <% end %>
            
            <%= form_for(:user, :url => registration_path(:user), :html => {id: 'signup-form'}) do |f| %>
              <%= devise_error_messages! %>
            
              <div class = "name field"> 
                <%= f.label :name %> 
                <%= f.text_field :name, autofocus: true %> 
                <img class="login-symbol" src="/images/name.png">
              </div>
            
              <div class = "major field"> 
                <%= f.label :major %>  
                <%= f.text_field :major, autofocus: true %> 
                <img class="login-symbol" src="/images/major.png">
              </div>
              
              <div class="email field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
                <img class="login-symbol" src="/images/email.png">
              </div>
            
              <div class="field">
                <%= f.label :password %>
                <!--<% if @minimum_password_length %>-->
                <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
                <!--<% end %>-->
                <%= f.password_field :password, autocomplete: "off" %>
                <img class="login-symbol" src="/images/password.png">
              </div>
            
              <div class="field">
                <%= f.label :password_confirmation %>
            
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div> 
            
              <div class="actions">
              <a id="signin-bttn">Sign In</a>
                <%= f.submit "Sign up", :class => "submit"%>
              </div>
              
            <% end %>
        </div>
    </div>

<script>
    $('#login_bttn').click(function() {
        console.log("Login clicked");
        $('#home-lightbox-container').show();
    });
    $('#signup_bttn').click(function() {
        console.log("Login clicked");
        $('#home-lightbox-container').show();
        $('#login-form').hide();
        $("#login-lightbox").css("height", "475px")
        $('#signup-form').show();
    });

    $(".menu").mouseenter(function() {
            console.log("HOVERING");
            $(".home-container").css("z-index", "-1")
            $("#signup_bttn").show();
        }).mouseleave(function() {
            console.log("HOVERING OUT");
            $(".home-container").css("z-index", "1")
            $("#signup_bttn").hide();
        });
    $("#signup_bttn").mouseenter(function() {
            console.log("HOVERING");
            $(".home-container").css("z-index", "-1")
            $(this).show();
        }).mouseleave(function() {
            console.log("HOVERING OUT");
            $(".home-container").css("z-index", "1")
            $(this).hide();
        });

    $('#signup-bttn').click(function() {
       console.log("Sign Up Clicked");
       $('#login-form').hide();
       $("#login-lightbox").css("height", "475px")
       $('#signup-form').show();
    });
    $('#signin-bttn').click(function() {
       console.log("Sign In Clicked");
       $('#signup-form').hide();
       $("#login-lightbox").css("height", "350px")
       $('#login-form').show();
    });
    $(".screen").click(function() {
        $("#home-lightbox-container").hide();
    });
</script>