<div class="menu-header">
    <div class="logo">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="menu">
        <li><%= link_to "Gallery", root_path, :class => 'home_link' %></li>
        <li><%= link_to "Members", members_path, :class => 'home_link' %></li>
        <% if current_user %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'home_link' %></li>
            <li><%= link_to (image_tag(current_user.avatar.url(:thumb), class: 'round-image-50')), profile_index_path %></li>
        <% else %>
            <li class="round-image-50"><%= image_tag("/images/thumb/missing_ava.png") %></li>
            <li><%= link_to 'Login', new_user_session_path, :method => :get, :class => 'home_link' %></li>
        <% end %>
    </div>
</div>