<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "American Red Cross", root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="custom"><%= link_to "Gallery", galleries_path %></li>
                <li class="custom"><%= link_to "Members", root_path %></li>
                <% if current_user %>
                <li class="custom"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
                <li class="custom"><%= link_to (image_tag(current_user.avatar.url(:thumb), class: 'round-image-50')), profile_index_path %></li>
                <% else %>
                <li class="round-image-50"><%= image_tag("/images/thumb/missing_ava.png") %></li>
                <li class="custom"><%= link_to 'Login', new_user_session_path, :method => :get %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>