<%= render 'navbar' %>

<div class="home-container">
    <div class="carousel-container">
        <div id="owl-demo" class="home-carousel">
            <% @images.each do |image| %>
                <div class="item"><%= image_tag(image) %></div>
            <%end %>
        </div>
    </div>
    
    <div class="home-bottom-section">
        <div class="home-left-section">
            <div class="bulletin-container">
                 <% if current_user and current_user.isOfficer %>
                    <div id="edit-container">
                        <img src="images/white_edit.png" id="top-edit">
                    </div>
                    <div id="edit-help">
                        Click here to toggle edit content. Editable text will turn red, uneditable text will turn black.
                        <div id="edit-help-carrot"></div>
                    </div>
                <%end%>
                <div class="section-header">
                    <img class="symbol" id="bulletin-symbol" src="/images/bulletin_icon.png"><p id="section-title">BULLETIN</p>
                    <div class="bulletin-description">
                        <%= @info.bulletin %>
                    </div>
                </div>
            </div>
            <div class="upcoming-events-container">
                <div class="section-header">
                    <img class="symbol" id="events-symbol" src="/images/events_icon.png"><p id="section-title">UPCOMING EVENTS</p>
                </div>
            </div>
        </div>
        
        <div class="home-right-section">
            <div class="member-of-month-container">
                <% if current_user and current_user.isOfficer %>
                    <div id="edit-container">
                        <img src="images/white_edit.png" id="top-edit">
                    </div>
                    <div id="edit-help">
                        Click here to toggle edit content. Editable text will turn red, uneditable text will turn black.
                        <div id="edit-help-carrot"></div>
                    </div>
                <%end%>
                <div class="section-header">
                    <img class="symbol" id="mom-symbol" src="/images/member_of_the_month_icon.png"><p id="section-title">MEMBER OF THE MONTH</p>
                    <div class="motm-avatar"></div>
                    <div class="motm-name">
                        <p><%=@info.name %>, month</p>
                    </div>
                    <div class="motm-comments">
                        <%= @info.comments %>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="home-footer-container">
        <div class="home-footer">
            <img class="copyright-symbol" src="images/copyright-symbol.png"><p>2016 Cal Red Cross Association</p>
        </div>
    </div>
</div>

<script>
    $(".home-carousel").slick({
        arrows: true,
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
    });
</script>

