<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="profile-header">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="gallery-container">
        <div class="gallery-box">
            <h2>Photos</h2>
            <button><%= link_to "Add Photos", new_gallery_path %></button>
            
        </div>
        <div class="photos-display">
            <% @galleries.each do |gallery| %>
                <div class="photo"><%= gallery.image %></div>
              <!--<td><%= link_to 'Show', gallery %></td>-->
              <!--<td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>-->
              <!--<td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          <% end %>
        </div>
    </div>
    
  
  <!--<%= link_to 'New Gallery', new_gallery_path %>-->
    
    <!--<script>-->
    <!--    $('#photo_bttn').click(function(e) {-->
    <!--                var img = URL.createObjectURL(e.target.files[0]);-->
    <!--                $(".profile-image").attr("src", img);-->
    <!--                $(".edit_user").submit();-->
    <!--            });-->
    <!--</script>-->
</body>
</html>