<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="profile-header">
        <a href="/"><img id="logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="top-bar">
        <div class="avatar">
            <%= image_tag(@user.avatar.url(:thumb)) %>
        </div>
        <div class="personal-info">
            <h2 id="name"><%= @user.name %></h2>
            <img src="/images/email.png"><p><%= @user.email %></p>
        </div>

        <div class="contribution">
            <%= @user.sem_hours %> 
            <p>Semester hours</p>
            <%= @user.level %>
            <p>Level</p>
            <%= @user.total_hours %>
            <p>Total hours</p>
        </div>

    </div>
    
    <div class="event">
        <h2>Events</h2>
    </div>
    
    <div class="tagged-pics">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
