<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="profile-header">
        <a href="/"><img id="logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="top-bar">
        <img id="avatar">
        <div class="personal-info">
            <!--This block will cause ERROR untill the User model and the ProfileCtrl are implemented properly-->
            Name: <h2 id="name"><%= current_user.name %></h2>
            Test Name: <p><%= @user.name %></p>
            <img src="/images/email.png">
            Email:
            <p><%= @user.email %></p>
        </div>

        <div class="contribution">
            <%= current_user.sem_hours %> 
            <p>Semester hours</p>
            <%= current_user.level %>
            <p>Level</p>
            <%= current_user.total_hours %>
            <p>Total hours</p>
        </div>

    </div>
    
    <div class="event">
        <h2>Events</h2>
    </div>
    
    <div class="tagged-pics">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
