<!DOCTYPE html>
<html>
<head>
    <%= javascript_include_tag('profile.js') %>
</head>

<body>
    <div class="profile-header">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    <div id="profile-container">
        <div class="top-bar">
            <div id="edit-container">
                <img src="images/white_edit.png" id="top-edit">
            </div>
            <div class="avatar">
                <%= image_tag(current_user.avatar.url(:thumb), :class => "profile-image") %>
                <%= form_for current_user, :url => {:action => 'update'}, :html => { :multipart => true } do |form| %>
                  <%= form.file_field :avatar %>
                  <%= form.submit "upload" %>
                <% end %>
                <label for="myFile" id="edit-photo">Edit Photo</label>
                <input type="file" id="myFile">
            </div>
            <div class="personal-info">
                <div id="name-section">
                    <div id="profile-name"><%= current_user.name %></div>
                    <div id="status-badge">Active</div>
                </div>
                <img id="email-symbol" src="/images/email.png"><p id="profile-email"><%= current_user.email %></p>
                <div id="about-me">
                    <%= current_user.description %>
                </div>
            </div>
    
            <div class="contribution">
                <div class="hours">
                    <!--<%= current_user.sem_hours %> -->
                    <div class="num-hours">5</div>
                    <p class="hours-text">Semester hours</p>
                </div>
                <div class="hours">
                    <%= current_user.level %>
                    <img id="medal" src="images/bronze_medal.png">
                    <p class="hours-text">Level</p>
                </div>
                <div class="hours">
                    <!--<%= current_user.total_hours %>-->
                    <div class="num-hours">10</div>
                    <p class="hours-text">Total hours</p>
                </div>
            </div>
    
        </div>
        <div class="bottom-section">
            <div class="event">
                <h2>Events</h2>
            </div>
            
            <div class="tagged-pics">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
            $("#edit-container").click(function() {
                console.log("EDIT");
                $(this).toggleClass("active");
                if (!$(this).hasClass("active")) {
                    $.ajax({
                        type : 'post',
                        url : "/profile/update",
                        data : {"details": $("#about-me").text(),
                            "name": $("#profile-name").text()
                        },    
                        dataType : 'json',
                        async : false,
                        context : document.body,
                        success : function(response) {
                            alert("Done");
                        }
                      });
                }
                
                var $div=$('#about-me'), isEditable=$div.is('.editable');
                $div.prop('contenteditable',!isEditable).toggleClass('editable')
                $div.toggleClass("active");
                
                var $name=$('#profile-name'), isEditable=$name.is('.editable');
                $name.prop('contenteditable',!isEditable).toggleClass('editable')
                $name.toggleClass("active");
            });
             $('#myFile').change(function(e) {
                    var img = URL.createObjectURL(e.target.files[0]);
                    $(".profile-image").attr("src", img);
                });
    </script>
</body>
</html>
