<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="profile-header">
        <a href="/"><img id="logo" src="/images/logo2.png"></a>
    </div>
    
    <div class="top-bar">
        <img id="avatar">
        <div class="personal-info">
            <!--This block will cause ERROR untill the User model and the ProfileCtrl are implemented properly-->
<<<<<<< HEAD
            Name: <h2 id="name"><%= current_user.name %></h2>
=======
            <h2 id="name"><%= current_user.name %></h2>
>>>>>>> 46f80fa51d1ae0c09bbb70bd7d89c1a15890d74c
            <img src="/images/email.png">
            Email:
            <p><%= current_user.email %></p>
        </div>
        <% if false %>
            <div class="contribution">
                <%= current_user.semHours %> 
                <p>Semester hours</p>
                <%= current_user.level %>
                <p>Level</p>
                <%= current_user.totalHours %>
                <p>Total hours</p>
            </div>
        <% end %>
    </div>
    
    <div class="event">
        <h2>Events</h2>
    </div>
    
    <div class="tagged-pics">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
