<!DOCTYPE html>
<html>
  <head>
    <title>CalRedCross</title>
    <link rel="shortcut icon" type="image/png" href="public/images/little_logo.png"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag('new.js') %>
  </head>

  
       <p id="notice"><%= notice %></p>
       <p id="alert"><%= alert %></p>


  <body>
    <%= yield %>
  </body>
</html>

