!DOCTYPE html>
<html>
<head>
    <%= javascript_include_tag('member-management.js') %>
</head>

<body>
    <div id="lightbox-container">
        <div class="screen"></div>
        <div id="delete-member-lightbox">
            <div id="delete-member-title">Are you sure you want to delete this member?
                <div id="delete-member-name">Frances</div>
                <div class="lightbox-buttons-container">
                    <div class="lightbox-button no-button">No</div>
                    <div class="lightbox-button yes-button">Yes</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="members-header">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    <div id="members-container">
        <div class="members-list">
            <h2 id="members-header">Our Members</h2>
            <div id="search-members">
                <input placeholder="Search by member here..." id="search-members-input" type="text">
                <img id="search-symbol" src="/images/search_symbol.png">
            </div>
            
            <% @members.each do |member| %>
                <div class="member-row" id= <%=member.id %>>
                    <div class="member-avatar">
                        <%= image_tag(member.avatar.url(:thumb), :class => "profile-image") %>
                    </div>
                    <div class="member-info">
                        <div class="member-name" id= <%=member.id %> ><%= member.name %></div>
                        <div id="member-email"><img id="email-symbol" src="/images/email.png"><%= member.email %></div>
                    </div>
                    <% if member.status == "t" %>
                        <div class="member-status active" id= <%=member.id %>>
                           Active
                        </div>
                    <% else %> 
                        <div class="member-status inactive" id= <%=member.id %>>
                           Inactive
                        </div>
                    <% end %>
                    <div class="member-contribution">
                        <div id="member-hours"><%= member.total_hours %></div>
                        <div id="hours">Hours</div>
                        <% if member.status == "t"  %>
                            <div class="delete-member hide"  id= <%=member.id %>>
                                <div class="delete-member-help">Delete this member</div>
                                x
                            </div>
                        <% else %> 
                            <div class="delete-member show"  id= <%=member.id %>>
                                <div class="delete-member-help">Delete this member</div>
                                x
                            </div>
                        <% end %>
                    </div>
                    <% if member.status == "t" %>
                        <div class="toggle-active-button active" id= <%=member.id %>>
                        <div class="toggle-inner-text">Mark Inactive</div>
                        </div>
                    <% else %> 
                        <div class="toggle-active-button inactive" id= <%=member.id %>>
                         <div class="toggle-inner-text" id= <%=member.id %> >Mark Active</div>
                        </div>
                    <% end %>
                    
                </div>
            <% end %>
        </div>
    </div>
    <script>
        $('.delete-member').click(function() {
            console.log("Deleted member");
            var id = $(this).attr("id");
            var nameID = ".member-name#" + id
            var name = $(nameID).innerHTML;
            $("#delete-member-name").text(name);
            $("#lightbox-container").show();
            $(".lightbox-button").attr("id", id);
        });
        
        $('.lightbox-button').click(function() {
            $("#lightbox-container").hide();
        });
        
        $('.yes-button').click(function(){
            var id = $(this).attr("id");
            $.ajax({
                        type : 'post',
                        url : "/members/delete",
                        data : {"member": id
                        },    
                        dataType : 'json',
                        async : false,
                        context : document.body,
                        success : function(response) {
                        }
                      });
        })
        
        $('.toggle-active-button').click(function() {
            $(this).toggleClass('active');
            $(this).toggleClass('inactive')
            var id = $(this).attr("id")
            $( "#" + id + ".member-status").toggleClass("active");
            $( "#" + id + ".member-status").toggleClass("inactive");
            $( "#" + id + ".delete-member").toggleClass("hide");
            $( "#" + id + ".delete-member").toggleClass("show");
            console.log(id);
            if ($(this).hasClass('active')) {
                $(this).children("div").text("Mark Inactive");
                 $( "#" + id + ".member-status").text("Active");
                 $.ajax({
                        type : 'post',
                        url : "/members/update",
                        data : {"status": true, "member": id
                        },    
                        dataType : 'json',
                        async : false,
                        context : document.body,
                        success : function(response) {
                        }
                      });
                 
            } else {
                $(this).children("div").text("Mark Active");
                $( "#" + id + ".member-status").text("Inactive");
                $.ajax({
                        type : 'post',
                        url : "/members/update",
                        data : {"status": false, "member": id
                        },    
                        dataType : 'json',
                        async : false,
                        context : document.body,
                        success : function(response) {
                        }
                      });
                
            }
        })
    </script>
</body>
</html>